#%RAML 1.0
title: police_station
version: v1
baseUri: http://police.revature.com
/city:
  /police:
    /worker:
      description: This is used to get all workers details
      get:
        responses:
          200:
            body:
              application/json:
                example: |
                  {
                  "workerid":"P1",
                  "workerusername":"djson",
                  "fanme":"Dan",
                  "lname":"Json",
                  "email":"djson@gmail.com",
                  "position":"Police Officer",
                  "password":"password",
                  "employment":"employed",
                  "pnumber":1234567890,
                  "ssn":123456789,
                  "age":24
                  }
      post:
        body:
          application/json:
            example: |
              {
              "workerid":"P1",
              "workerusername":"djson",
              "fanme":"Dan",
              "lname":"Json",
              "email":"djson@gmail.com",
              "position":"Police Officer",
              "password":"password",
              "employment":"employed",
              "pnumber":1234567890,
              "ssn":123456789,
              "age":24
              }
        responses:
          201:
            body:
              application/json:
                example: |
                  {
                  "message": "Worker inserted"
                  }
      /{id}:
        get:
          responses:
            200:
              body:
                application/json:
                  example: |
                    {
                    "workerusername":"djson",
                    "fanme":"Dan",
                    "lname":"Json",
                    "email":"djson@gmail.com",
                    "position":"Police Officer",
                    "password":"password",
                    "employment":"employed",
                    "pnumber":1234567890,
                    "ssn":123456789,
                    "age":24
                    }
        delete:
          description: This method will delete an entry given their id
    /criminal:
      description: This is used to get all criminals details
      get:
        responses:
          200:
            body:
              application/json:
                example: |
                  {
                  "criminalid":"C1",
                  "cfname":"Joe",
                  "clname":"Mitchel",
                  "conviction":"convicted"
                  }
      post:
        body:
          application/json:
            example: |
              {
              "criminalid":"C1",
              "cfname":"Joe",
              "clname":"Mitchel",
              "conviction":"convicted"
              }
        responses:
          201:
            body:
              application/json:
                example: |
                  {
                  "message": "Criminal inserted"
                  }
      /{id}:
        get:
          responses:
            200:
              body:
                application/json:
                  example: |
                    {
                    "cfname":"Joe",
                    "clname":"Mitchell",
                    "convictioin":"released"
                    }
        delete:
          description: This method will delete an entry given their id
  /hospital:
    /worker:
      description: This is used to get all workers details
      get:
        responses:
          200:
            body:
              application/json:
                example: |
                  {
                  "workerid":"P1",
                  "workerusername":"djson",
                  "fanme":"Dan",
                  "lname":"Json",
                  "email":"djson@gmail.com",
                  "position":"Police Officer",
                  "password":"password",
                  "employment":"employed",
                  "pnumber":1234567890,
                  "ssn":123456789,
                  "age":24
                  }
      post:
        body:
          application/json:
            example: |
              {
              "workerid":"P1",
              "workerusername":"djson",
              "fanme":"Dan",
              "lname":"Json",
              "email":"djson@gmail.com",
              "position":"Police Officer",
              "password":"password",
              "employment":"employed",
              "pnumber":1234567890,
              "ssn":123456789,
              "age":24
              }
        responses:
          201:
            body:
              application/json:
                example: |
                  {
                  "message": "Worker inserted"
                  }
      /{id}:
        get:
          responses:
            200:
              body:
                application/json:
                  example: |
                    {
                    "workerusername":"djson",
                    "fanme":"Dan",
                    "lname":"Json",
                    "email":"djson@gmail.com",
                    "position":"Police Officer",
                    "password":"password",
                    "employment":"employed",
                    "pnumber":1234567890,
                    "ssn":123456789,
                    "age":24
                    }
        delete:
          description: This method will delete an entry given their id
    /patient:
      description: This is used to get all patient details
      get:
        responses:
          200:
            body:
              application/json:
                example: |
                  [
                      {
                          "id": "0034P00002SkogHQAR",
                          "first": "Mort",
                          "last": "Deadman",
                          "email": "cancerpatient@thedead.com",
                          "phone": "(777) 123 - 8977",
                          "birthdate": "1994-11-08T00:00:00.000+0000",
                          "accountid": "0014P000025vEztQAE"
                      },
                      {
                          "id": "0034P00002SkogMQAR",
                          "first": "Zed",
                          "last": "PimplePopper",
                          "email": "hypochondriac@short.com",
                          "phone": "(811) 456 - 7771",
                          "birthdate": "1998-11-08T00:00:00.000+0000",
                          "accountid": "0014P000025vEztQAE"
                      }
                  ]
      post:
        body:
          application/json:
            example: |
              {
              "criminalid":"C1",
              "cfname":"Joe",
              "clname":"Mitchel",
              "conviction":"convicted"
              }
        responses:
          201:
            body:
              application/json:
                example: |
                  {
                  "message": "Criminal inserted"
                  }
      /{id}:
        get:
          responses:
            200:
              body:
                application/json:
                  example: |
                    {
                    "cfname":"Joe",
                    "clname":"Mitchell",
                    "convictioin":"released"
                    }
        delete:
          description: This method will delete an entry given their id
  /backgroundcheck:
    /worker:
      description: This is used to get all workers details
      get:
        responses:
          200:
            body:
              application/json:
                example: |
                  {
                  "workerid":"P1",
                  "workerusername":"djson",
                  "fanme":"Dan",
                  "lname":"Json",
                  "email":"djson@gmail.com",
                  "position":"Police Officer",
                  "password":"password",
                  "employment":"employed",
                  "pnumber":1234567890,
                  "ssn":123456789,
                  "age":24
                  }
      post:
        body:
          application/json:
            example: |
              {
              "workerid":"P1",
              "workerusername":"djson",
              "fanme":"Dan",
              "lname":"Json",
              "email":"djson@gmail.com",
              "position":"Police Officer",
              "password":"password",
              "employment":"employed",
              "pnumber":1234567890,
              "ssn":123456789,
              "age":24
              }
        responses:
          201:
            body:
              application/json:
                example: |
                  {
                  "message": "Worker inserted"
                  }
      /{id}:
        get:
          responses:
            200:
              body:
                application/json:
                  example: |
                    {
                    "workerusername":"djson",
                    "fanme":"Dan",
                    "lname":"Json",
                    "email":"djson@gmail.com",
                    "position":"Police Officer",
                    "password":"password",
                    "employment":"employed",
                    "pnumber":1234567890,
                    "ssn":123456789,
                    "age":24
                    }
        delete:
          description: This method will delete an entry given their id
    /personofinterest:
      description: This is used to get all the person details
      get:
        responses:
          200:
            body:
              application/json:
                example: |
                  {
                  "criminalid":"C1",
                  "cfname":"Joe",
                  "clname":"Mitchel",
                  "conviction":"convicted"
                  }
      post:
        body:
          application/json:
            example: |
              {
              "criminalid":"C1",
              "cfname":"Joe",
              "clname":"Mitchel",
              "conviction":"convicted"
              }
        responses:
          201:
            body:
              application/json:
                example: |
                  {
                  "message": "Criminal inserted"
                  }
      /{id}:
        get:
          responses:
            200:
              body:
                application/json:
                  example: |
                    {
                    "cfname":"Joe",
                    "clname":"Mitchell",
                    "convictioin":"released"
                    }
        delete:
          description: This method will delete an entry given their id
  /employmentagency:
    /worker:
      description: This is used to get all workers details
      get:
        responses:
          200:
            body:
              application/json:
                example: |
                  {
                  "workerid":"P1",
                  "workerusername":"djson",
                  "fanme":"Dan",
                  "lname":"Json",
                  "email":"djson@gmail.com",
                  "position":"Police Officer",
                  "password":"password",
                  "employment":"employed",
                  "pnumber":1234567890,
                  "ssn":123456789,
                  "age":24
                  }
      post:
        body:
          application/json:
            example: |
              {
              "workerid":"P1",
              "workerusername":"djson",
              "fanme":"Dan",
              "lname":"Json",
              "email":"djson@gmail.com",
              "position":"Police Officer",
              "password":"password",
              "employment":"employed",
              "pnumber":1234567890,
              "ssn":123456789,
              "age":24
              }
        responses:
          201:
            body:
              application/json:
                example: |
                  {
                  "message": "Worker inserted"
                  }
      /{id}:
        get:
          responses:
            200:
              body:
                application/json:
                  example: |
                    {
                    "workerusername":"djson",
                    "fanme":"Dan",
                    "lname":"Json",
                    "email":"djson@gmail.com",
                    "position":"Police Officer",
                    "password":"password",
                    "employment":"employed",
                    "pnumber":1234567890,
                    "ssn":123456789,
                    "age":24
                    }
        delete:
          description: This method will delete an entry given their id
    /available:
      description: This is used to get details on all workers available for work 
      get:
        responses:
          200:
            body:
              application/json:
                example: |
                  {
                  "criminalid":"C1",
                  "cfname":"Joe",
                  "clname":"Mitchel",
                  "conviction":"convicted"
                  }
      post:
        body:
          application/json:
            example: |
              {
              "criminalid":"C1",
              "cfname":"Joe",
              "clname":"Mitchel",
              "conviction":"convicted"
              }
        responses:
          201:
            body:
              application/json:
                example: |
                  {
                  "message": "Criminal inserted"
                  }
      /{id}:
        get:
          responses:
            200:
              body:
                application/json:
                  example: |
                    {
                    "cfname":"Joe",
                    "clname":"Mitchell",
                    "convictioin":"released"
                    }
        delete:
          description: This method will delete an entry given their id
  /carfactory:
    /worker:
      description: This is used to get all workers details
      get:
        responses:
          200:
            body:
              application/json:
                example: |
                  {
                  "workerid":"P1",
                  "workerusername":"djson",
                  "fanme":"Dan",
                  "lname":"Json",
                  "email":"djson@gmail.com",
                  "position":"Police Officer",
                  "password":"password",
                  "employment":"employed",
                  "pnumber":1234567890,
                  "ssn":123456789,
                  "age":24
                  }
      post:
        body:
          application/json:
            example: |
              {
              "workerid":"P1",
              "workerusername":"djson",
              "fanme":"Dan",
              "lname":"Json",
              "email":"djson@gmail.com",
              "position":"Police Officer",
              "password":"password",
              "employment":"employed",
              "pnumber":1234567890,
              "ssn":123456789,
              "age":24
              }
        responses:
          201:
            body:
              application/json:
                example: |
                  {
                  "message": "Worker inserted"
                  }
      /{id}:
        get:
          responses:
            200:
              body:
                application/json:
                  example: |
                    {
                    "workerusername":"djson",
                    "fanme":"Dan",
                    "lname":"Json",
                    "email":"djson@gmail.com",
                    "position":"Police Officer",
                    "password":"password",
                    "employment":"employed",
                    "pnumber":1234567890,
                    "ssn":123456789,
                    "age":24
                    }
        delete:
          description: This method will delete an entry given their id
    /car:
      description: This is used to get details on all cars available
      get:
        responses:
          200:
            body:
              application/json:
                example: |
                  {
                  "criminalid":"C1",
                  "cfname":"Joe",
                  "clname":"Mitchel",
                  "conviction":"convicted"
                  }
      post:
        body:
          application/json:
            example: |
              {
              "criminalid":"C1",
              "cfname":"Joe",
              "clname":"Mitchel",
              "conviction":"convicted"
              }
        responses:
          201:
            body:
              application/json:
                example: |
                  {
                  "message": "Criminal inserted"
                  }
      /{id}:
        get:
          responses:
            200:
              body:
                application/json:
                  example: |
                    {
                    "cfname":"Joe",
                    "clname":"Mitchell",
                    "convictioin":"released"
                    }
        delete:
          description: This method will delete an entry given their id
